.container {
  width: 100%;
  background-image: url("../img/9s_bg.png");
}

header img {
  margin-top: 187px;
  width: 65%;
}

.header__text h1 {
  color: #b375c8;
}

.header__text h2 {
  color: #e36868;
}

.header__text h3 {
  color: #b375c8;
}

.first__description__text {
  margin-top: 250px;
}

.first__description img {
  margin: 50px 8% 0 0;
}

.second__description img {
  margin-top: 200px;
  width: 50%;
}

.second__description span {
  color: #e36868;
  margin-top: 600px;
}

footer {
  margin-top: 230px;
}

.footer__contacts-and-year span {
  color: white;
}

@media (max-width: 1700px) {
  .second__description {
    margin-top: 150px;
  }
}
