header img {
  margin-top: 282px;
  width: 64%;
}

.header__text h1 {
  color: #52c4c5;
}

.header__text h2 {
  color: #e36868;
}

.header__text h3 {
  color: #52c4c5;
}

.container {
  background-image: url("../img/d7bg2.png");
}

.first__description {
  margin-top: -90px;
}

.first__description img {
  width: 31%;
  margin-bottom: -330px;
  object-fit: contain;
  margin-right: 8%;
}

.first__description__text {
  margin-top: 390px;
}

.second__description img {
  margin-top: 200px;
  width: 50%;
}

.second__description span {
  color: #52c4c5;
  margin-top: 500px;
}

footer {
  margin-top: 230px;
}

.footer__contacts-and-year span {
  color: #23b2b4;
}

@media (max-width: 1700px) {
  .second__description {
    margin-top: 150px;
  }
}